
/**
 * /src/css/common/chip.css
 * 
 */
[data-view-name="ChipView"] {
    display: inline;
    border: 1px solid var(--annex-search-chip-border-color);
    border-radius: 4px 4px 4px 4px;
    font-size: 11px;
    color: var(--annex-search-chip-anchor-color);
    padding: 4px 12px 4px 12px;
    transition: border-color 325ms, opacity 325ms;
    cursor: pointer;
    will-change: transform, opacity;
    opacity: 0.80;
    float: left;
    margin: 0 4px 4px 0;
}
* [data-view-name="ChipView"]:last-child {
    margin: 0 0 4px 0;
}
[data-view-name="ChipView"]:hover {
    border-color: var(--annex-search-chip-border-color-hover);
    opacity: 0.90;
}
