
/**
 * /src/css/common/timer.css
 * 
 */
[data-view-name="TimerView"] {
    position: absolute;
    pointer-events: none;
    opacity: 0.00;
    left: 12px;
    top: 12px;
    background-color: var(--annex-search-timer-background-color);
    border-radius: 100px 100px 100px 100px;
    width: 48px;
    height: 48px;
    transition: opacity var(--annex-search-timer-duration);
    cursor: default;
    will-change: transform, opacity;
}
[data-view-name="TimerView"].visible {
    pointer-events: auto;
    opacity: 0.96;
}
[data-view-name="TimerView"].visible:hover {
    opacity: 0.90;
}
[data-view-name="TimerView"] > div.remaining {
    color: var(--annex-search-timer-remaining-color);
    font-size: 18px;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
}
