<script type="text/template" data-template-id="fieldHeader">
    <div class="clearfix" data-view-name="FieldHeaderView">
        <div class="label"></div>
        <div class="input">
            <input type="search" name="query" id="query" spellcheck="false" autocapitalize="off" autocorrect="off" />
        </div>
    </div>
</script>
