<script type="text/template" data-template-id="header">
    <div data-view-name="HeaderView">
        <div class="hide icon icon-plus icon-size-14"></div>
        <div class="spinner spinning icon icon-spinner"></div>
    </div>
</script>
