<script type="text/template" data-template-id="metaBarHeader">
    <div data-view-name="MetaBarHeaderView">
        Showing
        <span class="showing">xx</span> of
        <span class="found">yy</span>
        matching results
         <!-- in -->
        <!-- <span class="duration">10ms</span> -->
    </div>
</script>
