
/**
 * /src/css/body/body.css
 * 
 */
[data-view-name="BodyView"] {
    background-color: var(--annex-search-body-background-color);
    max-height: calc(var(--annex-search-content-max-height) - var(--annex-search-header-height) - var(--annex-search-footer-height));
    min-height: inherit;
}
[data-view-name="RootView"][data-state-key="results"] [data-view-name="BodyView"] {
    max-height: calc(var(--annex-search-content-max-height) - var(--annex-search-header-height) - var(--annex-search-footer-height) - var(--annex-search-metaBar-height));
}
