[data-view-name="IdleBodyView"] {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
[data-view-name="RootView"][data-state-key="idle"] [data-view-name="IdleBodyView"] {
    display: flex;
}
[data-view-name="IdleBodyView"] > div.graphic {
    background-repeat: no-repeat;
    width: 128px;
    height: 104px;
    background-position: center center;
    background-size: contain;
    background-image: var(--annex-ts-image-search);
}
[data-view-name="IdleBodyView"] > div.message {
    font-size: 19px;
    font-weight: 100;
    color: var(--annex-ts-body-message-color);
    padding: 12px 0 0 0;
}
