<script type="text/template" data-template-id="brandingBarFooter">
    <div data-view-name="BrandingBarFooterView">
        Powered by <a href="https://annexsearch.com/" target="_blank">Annex Search</a>
    </div>
</script>
