[data-view-name="EmptyResultsBodyView"] {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
[data-view-name="RootView"][data-state-key="empty"] [data-view-name="ResultsBodyView"] {
    display: block;
}
[data-view-name="RootView"][data-state-key="empty"] [data-view-name="EmptyResultsBodyView"] {
    display: flex;
}
[data-view-name="RootView"][data-state-key="empty"] [data-view-name="FoundResultsBodyView"] {
    display: none;
}
[data-view-name="EmptyResultsBodyView"] > div.graphic {
    background-repeat: no-repeat;
    width: 128px;
    height: 104px;
    background-position: center center;
    background-size: contain;
    background-image: var(--annex-search-image-sad-cat);
}
[data-view-name="EmptyResultsBodyView"] > div.message {
    font-size: 19px;
    font-weight: 100;
    color: var(--annex-search-body-message-color);
    padding: 12px 0 0 0;
}
