
/**
 * /src/css/body/results/found.css
 * 
 */
[data-view-name="FoundResultsBodyView"] {
    padding: 8px 10px 8px 10px;
    overflow: auto;
    max-height: inherit;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
}
