
/**
 * /src/css/body/results/results.css
 * 
 */
[data-view-name="ResultsBodyView"] {
    display: none;
    max-height: inherit;
    overflow: hidden;
    min-height: inherit;
}
[data-view-name="RootView"][data-state-key="results"] [data-view-name="ResultsBodyView"] {
    display: block;
}
