:host([data-annex-search-layout="inline"]) {
    position: static;
    opacity: 1;
}
:host([data-annex-search-layout="inline"][data-annex-search-ready="1"]) {
    transition: none;
}
:host([data-annex-search-layout="inline"]) [data-view-name="RootView"] {
    position: static;
    height: 100%;
}
:host([data-annex-search-layout="inline"]) [data-view-name="RootView"] > div.content {
    position: relative;
    width: 100%;
    height: 100%;
}
:host([data-annex-search-layout="inline"]) [data-view-name="HeaderView"] {
    border-radius: 0;
}
:host([data-annex-search-layout="inline"]) [data-view-name="HeaderView"] > div.hide {
    display: none;
}
:host([data-annex-search-layout="inline"]) [data-view-name="HeaderView"] > [data-view-name="FieldHeaderView"] > div.label {
    display: none;
}
:host([data-annex-search-layout="inline"]) [data-view-name="FooterView"] {
    border-radius: 0;
}
