
/**
 * /src/css/animations.css
 * 
 */
@keyframes spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
:host .spinning {
    animation-name: spinning;
    animation-duration: 1250ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
