
/**
 * /src/css/common.css
 * 
 */
:host * {
    all: unset;
    display: revert;
    font-family: var(--annex-search-font-family);
    box-sizing: border-box;
}
:host .clearfix::after {
    content: "";
    clear: both;
    display: table;
}
:host .truncate {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
