
/**
 * /src/css/scrollbars.css
 * 
 */
*::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
    background-color: transparent;
    border-radius: 100px 100px 100px 100px;
}
*::-webkit-scrollbar-thumb {
    border-radius: 100px 100px 100px 100px;
    background-color: var(--annex-search-scrollbar-thumb-color);
}
*::-webkit-scrollbar-thumb:hover {
    background-color: var(--annex-search-scrollbar-thumb-hover-color);
}
*:hover::-webkit-scrollbar-thumb {
    display: block;
}
